.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  min-height: 100%;
}

.App-header {
  min-height: 10vh;
  background-color: black;
  color: rgb(199, 195, 195);
  padding-top: 10px;

}

main {
  text-align: left;

  padding-top: 5rem;
}

img {
  height: 60px;
}